{{#*inline "tier"}}
    <div class="tier">
        <div class="tier-rank" id='{{ this.tier }}-Rank'>
            <h3 class='rank'>{{ this.tier }}</h3>
        </div>
        <div class="anime">
            {{> @partial-block}}
        </div>
    </div>
{{/inline}}

{{#*inline "tier-block" }}
    {{#if this.animes}}
        {{#> tier tier=this.tier}}
            {{#each this.animes}}
                <a href="{{this.url}}" target="_blank"> <div class="thumbnail-container">
                <img class="thumbnail" src='{{this.image}}'></img></div></a>        
            {{/each}}
        {{/tier}}
    {{/if}}
{{/inline}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel='stylesheet' href='/css/style.css'>
    <title>Anime Tier List</title>
</head>
<body>
    <div id="background"></div>
    <header>
        <img id='header-img' src='{{userImage}}'>
        {{!-- <img id='header-img' src='/images/mascot2.jpg'> --}}
        <h2>{{user}}'s Tier List</h2>
    </header>
    <hr>
    <div id="container">
        {{> tier-block tier='SS' animes=this.animes.SS}}
        {{> tier-block tier='S' animes=this.animes.S}}
        {{> tier-block tier='A' animes=this.animes.A}}
        {{> tier-block tier='B' animes=this.animes.B}}
        {{> tier-block tier='C' animes=this.animes.C}}
        {{> tier-block tier='D' animes=this.animes.D}}
        {{> tier-block tier='F' animes=this.animes.F}}
    </div>
</body>
</html>
